@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F6F0D7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EEE6C8; /* slightly darker for hover feedback */
}